 h1 {
            color: #0056c7;
            background-color: #c4e3fe;
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        body {
            background-color: rgb(227, 248, 255);
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .font {
            font-family: 'Arial', sans-serif;
        }